# MkDocs generated site
site/

# Virtual Environment
.venv/
venv/
ENV/
env/

# Python cache & build
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.installed.cfg
*.egg
build/
dist/

# OS and Editor artifacts
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.swp
*.swo

# Secrets & Local configs
.env
*.local
